{% extends "base.html" %}

{% load i18n %}

{% load account socialaccount %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container text-white mt-3">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <h3>{% trans "Please Login" %}</h3>
            <p>{% blocktrans %}Haven't got an account yet? Please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="mt-4 mb-3 text-center">
                    <button class="btn btn-lg btn-success btn-block me-1" type="submit">{% trans "Sign In" %}</button>
                    <a href="{% provider_login_url 'google' %}" aria-pressed="true">
                        <button class="btn btn-primary btn-lg btn-block">Login with <i class="fab fa-google"></i>
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}