{% extends "base.html" %}

{% load socialaccount %}

{% block title %} Logout of your Account {% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center text-white align-items-center" style="height: 250px;">
        <div class="col-12 col-md-6 offset-md-3">
            <p class=" text-center mt-5">Are you sure you want to log out?</p>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input type="submit" value="Logout" class="btn btn-lg btn-outline-warning btn-block mt-3" />
            </form>
        </div>
    </div>
</div>

{% endblock %}