body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #546a7b;
}

a {
    text-decoration: none;
    color: #fdfdff;
}

/* logo and Nav Bar section */
/* .navbar {
    z-index: 1020;
} */

.logo {
    height: 90px;
    width: 20%;
}

.brand-name {
    color: #fdfdff;
    font-weight: 700;
}

.navbar-toggler-icon {
    background-color: #fdfdff;
}

.nav-item > a {
    color: #fdfdff !important;

}

/* posts section */
.card {
    background-color: #fdfdff;
}

.card-title,
.card-text {
    color: #393d3f;
}

.card-title {
    font-weight: 600;
}

/* footer section with social links */
.footer-for-lg {
    display: none;
}

.footer-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 18px;
    background-color: #393d3f;
}

.social-links {
    font-size: larger;
}


/* for medium screen size between 750px and 1200px width */
@media only screen and (max-width: 1199px) and (min-width: 768px) {
    body {
        font-size: larger;
    }

    .brand-name {
        background: -webkit-linear-gradient(#62929e, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .footer-for-lg {
        display: flex;
        justify-content: space-between;
        color: #fdfdff;
    }

    .footer-list {
        list-style: none;
        color: #fdfdff !important;
    }

    .footer-link > a {
        color: #fdfdff !important;
    }
}


/* For large screen size from 1200px width and above*/
@media screen and (min-width: 1200px) {
    body {
        font-size: large;
    }

    .navbar-brand {
        margin-left: 15px;
        font-size: larger;
    }

    .brand-name {
        background: -webkit-linear-gradient(#62929e, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-link {
        margin-right: 15px;
    }

    /* .footer-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    } */

    .footer-for-lg {
        display: flex;
        justify-content: space-between;
        color: #fdfdff;
    }

    .footer-list {
        list-style: none;
        color: #fdfdff !important;
    }

    .footer-link > a {
        color: #fdfdff !important;
        font-size: medium;
    }
}