body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #546a7b;
}

.logo {
    height: 90px;
    width: 20%;
}

.navbar-toggler-icon {
    background-color: #fdfdff;
}

.nav-item > a {
    color: #fdfdff !important;

}

/* .header-image {
    height: 500px;
    width: 80%;
    text-align: center;
} */

h1, h2, h3, h4, h5, h6, {
    font-weight: 700;
}

.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: white;
}

.social-links {
    font-size: larger;
}
