body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #546a7b;
}

a {
    text-decoration: none;
    color: #fdfdff;
}

 /* logo and Nav Bar section */
.navbar {
    z-index: 1020;
}

.logo {
    height: 90px;
    width: 20%;
}

.brand-name {
    color: #fdfdff;
    font-weight: 700;
}
.navbar-toggler-icon {
    background-color: #fdfdff;
}

.nav-item > a {
    color: #fdfdff !important;

}

/* posts section */
.card {
    background-color: #fdfdff;
}

.card-title,
.card-text {
    color: #393d3f;
}

.card-title {
    font-weight: 600;
}

 /* footer section with social links */
.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.social-links {
    font-size: larger;
}
