{% extends "base.html" %}

{% load static %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-center text-white">Blog Posts</h3>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

<!-- to display all the posts from the database, and 3 posts per row on the big screen-->

{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.image.url %}
                                <img src="https://res.cloudinary.com/mayathebee/image/upload/v1657443756/static/images/nft-placeholder-min_vxjo04.avif"
                                    class="card-img-top post-img" width="423" height="250" alt="NFT image">
                                {% else %}
                                <img src=" {{ post.image.url }} " class="card-img-top post-img"
                                    alt="An uploaded image from the user">
                                {% endif %}
                            </div>
                            <p class="author">Author: {{ post.author }}</p>
                            {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                            <div class="container d-flex flex-row-reverse p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- update post button -->
                                        <a href="{% url 'update_post' post.slug %}">
                                            <button type="button"
                                                class="btn btn-outline-success edit-btn">Update</button>
                                        </a>

                                        <!-- delete post button -->
                                        <a href="{% url 'delete_post' post.slug %}">
                                            <button type="button"
                                                class="btn btn-outline-danger delete-btn">Delete</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <div class="card-info d-flex justify-content-between">
                                <p class="card-text text-muted h6">{{ post.created_on }}</p>
                                <p class="like-comment"><i class="far fa-heart"></i> {{ post.number_of_likes}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- pagination code copied from I Think Therefore I Blog project walkthrough -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous </a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock content %}