{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="NFT news blog">
    <meta name="keywords" content="NFT, blog, cryptocurrency, bitcoin, non-fungible token, digital, currency">

    <!-- Bootstrap and CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Fungi News</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">

</head>

<body class=" d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <header>
        <nav class="navbar navbar-expand-md me-2 navbar-light mynavbar">
            <div class="container-fluid">
                <div class="logo-bg">
                    <a href="{% url 'home' %}"><img
                            src="https://res.cloudinary.com/mayathebee/image/upload/v1656256610/static/images/logo-f_xeapzf.svg"
                            alt="logo of F">
                    </a>
                </div>
                <a class="navbar-brand brand-name-link home-link" href="{% url 'home' %}"><span
                        class="brand-name">FungiNews</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarText">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active home-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link contact-link" aria-current="page" href="{% url 'contact' %}">Contact
                                Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link blog-link" aria-current="page" href="{% url 'all_posts' %}">Blog</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link my-post-link" aria-current="page" href="{% url 'shared_posts' %}">
                                My Posts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link logout-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>

                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link signup-link" href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- display the alert messages, took from code Institute walkthrough I think therefore I blog -->

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="alert-msg">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <section>
        {% block header %}
        <!-- hero image goes here -->
        {% endblock %}
    </section>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="flex-shrink-0 mt-auto py-2 bg-dark text-white-50">
        <div class="footer-container">
            <small class="mb-1 text-white"><i class="fas fa-copyright"></i> by <a
                    href="https://github.com/Maya-Claveau/pp4-fungi-news" target="_blank"
                    class="me-2">Maya-Claveau</a><i class="fab fa-github"></i></small>
            <p class="me-1 mt-3">
                <a class="link-info social-links me-4" href="https://www.twitter.com" aria-label="link to twitter"
                    target="_blank"><i class="fab fa-twitter ms-2"></i></a>
                <a class="link-info social-links me-4" href="https://telegram.org" aria-label="link to twitter"
                    target="_blank"><i class="fab fa-telegram ms-2"></i></a>
                <a class="link-info social-links me-4" href="https://www.reddit.com" aria-label="link to twitter"
                    target="_blank"><i class="fab fa-reddit ms-2"></i></a>
                <a class="link-info social-links me-4" href="https://www.instagram.com" aria-label="link to twitter"
                    target="_blank"><i class="fab fa-instagram ms-2"></i></a>
                <a class="link-info social-links me-4" href="https://facebook.com" aria-label="link to twitter"
                    target="_blank"><i class="fab fa-facebook-f ms-2"></i></a>
            </p>
        </div>
    </footer>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4c01cc9050.js" crossorigin="anonymous"></script>

    <!-- javascript code for underline the current viewing page -->
    <script>
        function highlightCurrent() {
            const curPage = document.URL;
            const links = document.getElementsByTagName('a');
            for (let link of links) {
                if (link.href == curPage) {
                    link.classList.add("current");
                }
            }
        };


        document.onreadystatechange = () => {
            if (document.readyState === 'complete') {
                highlightCurrent()
            }
        };
    </script>
</body>

</html>