{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id or user.is_superuser %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 center">
            <h3>Delete {{ post.title }}</h3>
            <form method="post" action="{% url 'delete_post' %}">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ post.title }}"?</p>
                <a href="{% url 'delete_post' post.pk %}">
                    <button class="btn btn-lg btn-warning delete-btn">Delete</button>
                </a>
            </form>
        </div>
    </div>
</div>
{% else %}
You are not allowed here!
{% endif %}
{% else %}
Warning: Restricted access!

{% endif %}
{% endblock %}