{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text text-white post-title-author">
                <h1 class="post-title">
                    {{ post.title }}
                </h1>
                <small class="post-subtitle">By: {{ post.author }} | {{ post.created_on }} </small>
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}

                <div class="container d-flex flex-row-reverse">
                    <!-- update post button -->
                    <a href="{% url 'update_post' post.slug %}" class="p-2">
                        <button type="button" class="btn btn-outline-success edit-btn">Update</button>
                    </a>

                    <!-- delete post button -->
                    <a href="{% url 'delete_post' post.slug %}" class="p-2">
                        <button type="button" class="btn btn-outline-danger delete-btn">Delete</button>
                    </a>
                </div>

                {% endif %}
                {% endif %}
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.image.url %}
                <img class="card-img-top post-img"
                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                    alt="A laptop with code on the screen">
                {% else %}
                <img src=" {{ post.image.url }} " class="card-img-top post-img" alt="An uploaded image from the user">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mt-3 left top">
            <div class="card-body">
                <p class="card-text text-justify"> {{ post.content | safe }} </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}

                            <form class="d-inline" action="{% url 'blogpost_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i
                                        class="fa-solid fa-heart-circle-check"></i></button>

                                {% else %}

                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i
                                        class="fa-solid fa-heart"></i></button>

                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fa-solid fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary text-red">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row d-flex card-bg">
        <div class="card p-2 card-bg">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments p-1">
                    <p class="font-weight-bold text-justify">
                        {{ comment.name }}
                        <span class="font-weight-normal card-bg">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card mb-4 mt-1 card-bg">
            <div class="card-body mt-3 pt-0 pb-4">

                <h3>Tell us what you think:</h3>
                <p class="text-justify">Posted by {{ user.username }}</p>
                <form method="POST">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark btn-lg mt-2">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}